{% extends 'base.html' %}

{% block title %}Manage Responses{% endblock %}

{% block content %}
<h2>Manage Responses</h2>
<ul>
    {% for response in responses %}
    <li>
        {{ response.content }} - {{ response.author.username }}
        {% if not response.is_accepted %}
        <a href="{% url 'accept_response' response.id %}">Accept</a>
        {% endif %}
        <a href="{% url 'delete_response' response.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

@login_required
def manage_responses(request):
    responses = Response.objects.filter(ad__author=request.user)
    return render(request, 'manage_responses.html', {'responses': responses})